body {
    background-color: #f8f9fa;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-top: 50px;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
    color: #0066cc;
    font-size: 36px;
    font-weight: bold;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-body {
    background-color: #fff;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0066cc;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.btn-quiz {
    background-color: #0066cc;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.btn-quiz:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0066cc;
    color: white;
    margin-top: 50px;
    font-size: 14px;
}